<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">

    </script>

    <link href="../static/css/base.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="index_footer" >
    <div id="footer">
        <div class="footer_up container">
            <div class="footer_contact footer_contain">
                <h2>联系我们</h2>
                <p>
                    <img src="/static/img/icon-phone-small.png" alt="">18721616397<br>
                    <img src="/static/img/icon-mail.png" alt=""/>460657108@qq.com<br>
                    <img src="/static/img/icon-map-pin.png" alt=""/>上海市浦东新区橄榄路1350号
                </p>
                <p>
                    <a href="#"><img src="/static/img/icon-dribble.png" alt="" /></a>
                    <a href="#"><img src="/static/img/icon-facebook.png" alt="" /></a>
                    <a href="#"><img src="/static/img/icon-twitter.png" alt="" /></a>
                    <a href="#"><img src="/static/img/icon-youtube.png" alt="" /></a>
                    <a href="#"><img src="/static/img/icon-linkedin.png" alt="" /></a>
                    <a href="#"><img src="/static/img/icon-rss.png" alt="" /></a>
                </p>
            </div>
            <div class="footer_link footer_contain">
                <h2>友情链接</h2>
                <p>
                    <a href="https://coronavirus.jhu.edu/">Johns Hopkins University Coronavirus Resource Center</a>
                    <a href="https://covidtracking.com/">The COVID Tracking Project</a>
                    <a href="http://covid-19.lzu.edu.cn/">全球COVID-19疫情预测系统</a>
                </p>
            </div>
        </div>
        <div class="footer_down container">
            <p>Copyright &copy; 2021-2099, All Rights Reserved</p>
            <p>Powered By sjy</p>
        </div>
    </div>
</div>
</body>
</html>